.ipynb_checkpoints/Beginner's Guide-checkpoint.md
.ipynb_checkpoints/README-checkpoint.md
.ipynb_checkpoints/skill_test-checkpoint.ipynb
.ipynb_checkpoints/Beginner's Guide V2-checkpoint.md
.ipynb_checkpoints/Developer's Guide-checkpoint.md
